body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

a {
  text-decoration: none;
  color: #E2BD76;
}

code {
  font-family: 'Inconsolata', monospace;
}

button {
  background: #493D26;
  padding: 9px 0px;
  border-radius: 3px;
  width: 180px;
  border: 0px;
}

button a {
  color: white;
}

.content {
  margin-top: 35px;
}

/* Header */

header {
  width: 100%;
  background-color: #eee;
  height: 55px;
  border-bottom: 1px solid #ddd;
}

.header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header .brand {
  float: left;
  font-size: 25px;
  padding-top: 10px;
}

.header .links {
  float: right;
  font-size: 19px;
  padding-top: 13px;
}

.header .links a {
  margin-left: 15px;
  color: #958C7B;
}

.header .links .selected {
  font-weight: bold;
}

.header .links::after {
  content: "";
  clear: both;
  display: table;
}

/* Home Page */

.hero {
  font-size: 24pt;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.hero .left {
  float: left;
  width: 320px;
}

.hero .right {
  float: left;
  width: 680px;
  height: 300px;
}

.hero .right .tagline {
  line-height: 1.5em;
}

.hero .right::after {
  content: "";
  clear: both;
  display: table;
}

.hero .title code {
  color: #E2BD76;
  font-size: 0.25em;
}

.hero img.logo {
  height: 300px;
  margin-left: -20px;
}

.hero .cta {
  margin-top: 0.5em;
}

.hero .cta button {
  margin-right: 1em;
}

.hero .social {
  margin-top: 0.5em;
}

.boxes {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  line-height: 1.5em;
  margin-bottom: 50px;
}

.boxes div {
  width: 290px;
  margin-left: 25px;
  margin-right: 10px;
  float: left;
}

/* Examples Page */

.container {
  font-size: 24pt;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* CPC ads */

.native-js {
  visibility: hidden;
  transition: all .25s ease-in-out;
  opacity: 0;
  flex-flow: column nowrap;
  transform: translateY(calc(100% - 35px));
}

.native-show {
  visibility: visible;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -1px 4px 1px hsla(0, 0%, 0%, .15);
  opacity: 1;
  z-index: 10;
}

.native-show:hover {
  transform: translateY(0);
}

.native-img {
  margin-right: 20px;
  max-height: 50px;
  border-radius: 3px;
  width: auto;
}

.native-sponsor {
  margin: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transform-origin: left;
  letter-spacing: .5px;
  transition: all .3s ease-in-out;
  font-size: 12px;
}

.native-show:hover .native-sponsor {
  transform: scaleY(0);
  margin: 0 20px;
  opacity: 0;
}

.native-flex {
  display: flex;
  padding: 20px 20px 40px;
  text-decoration: none;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.native-main {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
}

.native-details {
  display: flex;
  margin-right: 30px;

  flex-flow: column nowrap;
}

.native-company {
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.native-desc {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.4;
}

.native-cta {
  padding: 10px 14px;
  border-radius: 3px;
  box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, .15);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  transition: all .3s ease-in-out;
  transform: translateY(-1px);
}

.native-cta:hover {
  box-shadow: none;
  transform: translateY(1px);
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .native-flex {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .native-img {
    margin: 0;
  }

  .native-details {
    margin: 0;
  }

  .native-main {
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
  }
}
