body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

a {
  text-decoration: none;
  color: #E2BD76;
}

code {
  font-family: 'Inconsolata', monospace;
}

button {
  background: #493D26;
  padding: 9px 0px;
  border-radius: 3px;
  width: 180px;
  border: 0px;
}

button a {
  color: white;
}

.content {
  margin-top: 35px;
}

/* Header */

header {
  width: 100%;
  background-color: #eee;
  height: 55px;
  border-bottom: 1px solid #ddd;
}

.header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header .brand {
  float: left;
  font-size: 25px;
  padding-top: 10px;
}

.header .links {
  float: right;
  font-size: 19px;
  padding-top: 13px;
}

.header .links .selected {
  font-weight: bold;
}

.header .links::after {
  content: "";
  clear: both;
  display: table;
}

/* Home Page */

.hero {
  font-size: 24pt;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hero .left {
  float: left;
  width: 320px;
}

.hero .right {
  float: left;
  width: 680px;
}

.hero .right .tagline {
  line-height: 1.5em;
}

.hero .right::after {
  content: "";
  clear: both;
  display: table;
}

.hero .title code {
  color: #E2BD76;
  font-size: 0.25em;
}

.hero img.logo {
  height: 300px;
  margin-left: -20px;
}

.hero .cta {
  margin-top: 0.5em;
}

.hero .cta button {
  margin-right: 1em;
}

.hero .social {
  margin-top: 0.5em;
}
